:root {
    --dark-navy: #020c1b;
    --navy: #0a0d1f;
    --dark-purple: #050030;
    --contrast-color: #4fe0be;
    --violet: #ab99ff;
}

html,
body {
    font-family: "Roboto", "Lato", "Anonymous Pro", "Chilanka", sans-serif;
    margin: 0;
    padding: 0;
    transition: 0.5s;
    line-height: 1.5;
    color: white;
    text-align: center;
    font-size: 1.05rem;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--dark-purple);
    background-size: contain;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(32, 31, 31, 0);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 0px 20px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease-in-out infinite;
}

header h1 {
    z-index: 1000;
}

.logo img {
    width: 80px;
}

/* NAVBAR */

.navbar-container {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

.nav-link {
    color: var(--dark-navy);
    text-decoration: none;
    padding: 10px;
    font-size: 1.3rem;
    margin: 7px;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-link:hover {
    background-color: var(--contrast-color);
    color: var(--dark-navy);
    border-radius: 8px;
}

.nav-link.active {
    background-color: var(--contrast-color);
    color: var(--dark-navy);
    border-radius: 8px;
}

/* HAMBURGER MENU - NAVBAR */

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 10px;
}

#open-menu {
    display: flex;
    transition: transform 0.3s;
    height: 30px;
    filter: brightness(0) invert(1);
}

#close-menu {
    display: none;
    transition: transform 0.3s;
    height: 30px;
    filter: brightness(0) invert(1);
}

.menu {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 60px;
    right: 0;
    z-index: 100;
    padding-top: 30px;
    margin-top: 25px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
}

.menu-item {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 10px 0 10px;
    list-style: none;
}

.menu-item:hover {
    color: var(--dark-navy);
    background-color: var(--violet);
}

/* Media query */
@media screen and (max-width: 768px) {
    .hamburger {
        display: flex;
        align-items: center;
    }
    .navbar-container {
        display: none;
    }
}

/* MAIN */

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-container section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    min-height: 100vh;
    padding-top: 100px;
}

h2 {
    margin-bottom: 45px;
    font-size: 1.7rem;
    color: var(--contrast-color);
}

/* HOME */

.emoji {
    height: 40px;
}

#home {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./images/Stary\ Night\ View.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

#home a {
    text-decoration: none;
    padding: 12px 10px 8px;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 1000px;
    border: 1px solid #34054f26;
    padding: 10px;
    background: #2d025145;
    border-radius: 10px;
}

.intro-text {
    font-size: 1.3rem;
    width: 90%;
}

#home button {
    animation: gradient 5s ease infinite;
    background: linear-gradient(-135deg, rgb(255, 102, 102) 0%, rgb(97, 87, 255) 100%);
    background-size: 400%;
    background-position: 0% 100%;
    border-radius: 8px;
    border: none;
    margin: 15px;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
}

#home button:hover {
    transform: scale(1.1);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* ABOUT */

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #cccccc2b;
    padding: 20px 10px 20px 10px;
    background: #ffffff1a;
    border-radius: 10px;
    max-width: 1200px;
}

.about-container p {
    width: 90%;
    margin: 10px;
}

.about-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 10px;
}

.text-card {
    display: flex;
    text-align: left;
    width: 93%;
}

.bullet-point {
    width: 20px;
    height: 20px;
    margin: 12px 10px 0;
    align-self: flex-start;
}

/* PROJECTS */

#projects {
    width: 93%;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    border: 1px solid #cccccc2b;
    border-radius: 10px;
    max-width: 350px;
    background: #ffffff0f;
}

.project-image img {
    width: 100%;
    border-radius: 10px;
}

.project-title {
    font-size: 24px;
    text-align: center;
    margin: 20px 0;
    font-weight: bolder;
    color: var(--violet);
}

.project-description {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
}

.project-links {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap: 30px;
}

.project-links button {
    display: flex;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    border: none;
    padding: 10px 20px 10px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease-in-out infinite;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.project-links button:hover {
    transform: scale(1.1);
}

.project-links a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.1rem;
}

/* CONTACT */

.form-container {
    display: flex;
    padding: 20px;
    border: 1px solid #cccccc2b;
    border-radius: 10px;
    background: #ffffff0f;
}

.form-container form {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 10px;
}

.form-container label {
    justify-self: end;
    color: var(--violet);
    font-size: 1.1rem;
    font-weight: bold;
}

.form-container input,
.form-container textarea {
    border-radius: 5px;
    border: none;
    background-color: #efd3ffc9;
    color: black;
    font-size: 0.95rem;
}

.form-container input::placeholder,
.form-container textarea::placeholder {
    color: #07010f;
    font-style: italic;
    font-size: 14px;
}

#submit-btn {
    grid-column-start: 2;
    justify-self: end;
    margin: 10px 16px 10px;
    width: 90px;
    cursor: pointer;
    border: none;
    padding: 10px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: auto;
    background-size: 400% 400%;
    animation: gradient 15s ease-in-out infinite;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
}

#submit-btn:hover {
    transform: scale(1.1);
}

.input-field {
    width: 95%;
    padding: 5px;
    margin: 5px 0;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 5px 0 55px;
}

.icon-container img {
    filter: grayscale(100%) sepia(100%) hue-rotate(180deg);
    height: 40px;
    margin: 0 15px 0;
}

.icon-container img:hover {
    filter: none;
    transition: filter 0.3s ease;
}

/* FOOTER */

footer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 25px 0 25px 0;
    font-weight: bold;
}

.copy a {
    text-decoration: none;
    color: var(--contrast-color);
}
